{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Interactive dashboard on customer scoring</p>
  <a href="/features/" class="dash-link">
    <span>Columns description</span>
    <i class="fas fa-arrow-right"></i>
  </a>
  <a href="/dashboard/" class="dash-link">
    <span>Dashboard</span>
  </a>
</div>
{% endblock %}
